@font-face {
  font-family: "poppinsbold";
  src: url("./assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextrabold";
  src: url("./assets/fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinslight";
  src: url("./assets/fonts/poppins-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("./assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsthin";
  src: url("./assets/fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppinsregular", sans-serif;
}

.logo {
  width: 100px;
  max-width: 100px;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-size: 0.83rem;
  font-weight: 300;
}

.search a {
  font: 1.05rem;
  padding: 0 3rem;
}

.hamburguer {
  padding-left: 1.5rem;
}

.hamburguer a {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgba(115, 115, 155, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hamburguer .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburguer .bar::before,
.hamburguer .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
  transform: translateX(-50%);
}

.hamburguer .bar::before {
  top: -4.5px;
}
.hamburguer .bar::after {
  top: 4.5px;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 2800px;
  top: calc(50% - 390px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fog-7 {
  position: absolute;
  width: 1900;
  top: calc(50% - 100px);
  left: calc(50% + 300px);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.mountain-10 {
  position: absolute;
  width: 892px;
  top: calc(50% + 69px);
  left: calc(50% + 230px);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.fog-6 {
  position: absolute;
  width: 1558px;
  top: calc(50% + 54px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
  z-index: 4;
}
.mountain-9 {
  position: absolute;
  width: 495px;
  top: calc(50% + 107px);
  left: calc(50% - 554px);
  transform: translate(-50%, -50%);
  z-index: 5;
}
.mountain-8 {
  position: absolute;
  width: 949px;
  top: calc(50% + 117px);
  left: calc(50% - 222px);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.fog-5 {
  position: absolute;
  width: 1600px;
  top: calc(50% + 110px);
  left: calc(50% - 15px);
  transform: translate(-50%, -50%);
  z-index: 9;
}
.mountain-7 {
  position: absolute;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% - 305px);
  transform: translate(-50%, -50%);
  z-index: 8;
}

.text {
  position: absolute;
  text-align: center;
  top: calc(50% - 130px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
  pointer-events: auto;
  z-index: 13;
}

.text h2 {
  font-family: "poppinsthin";
  font-size: 6.8rem;
  line-height: 0.88;
}

.text h1 {
  font-family: "poppinsextrabold";
  line-height: 0.88;
  font-size: 8.7rem;
}

.mountain-6 {
  position: absolute;
  width: 414px;
  top: calc(50% + 59px);
  left: calc(50% + 799px);
  transform: translate(-50%, -50%);
  z-index: 4;
}

.fog-4 {
  position: absolute;
  width: 590px;
  top: calc(50% + 223px);
  left: calc(50% + 60px);
  transform: translate(-50%, -50%);
  z-index: 11;
}

.mountain-5 {
  position: absolute;
  width: 723px;
  top: calc(50% + 283px);
  left: calc(50% + 137px);
  transform: translate(-50%, -50%);
  z-index: 14;
}

.fog-5 {
  position: absolute;
  width: 1600px;
  top: calc(50% + 110px);
  left: calc(50% - 15px);
  transform: translate(-50%, -50%);
  z-index: 12;
}

.mountain-4 {
  position: absolute;
  width: 996px;
  top: calc(50% + 259px);
  left: calc(50% - 442.5px);
  transform: translate(-50%, -50%);
  z-index: 13;
}

.mountain-3 {
  position: absolute;
  width: 929px;
  top: calc(50% + 259px);
  right: calc(50% - 1937px);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.mountain-2 {
  position: absolute;
  z-index: 17;
  top: 78.01%;
  left: 77.61%;
  width: 51.91%;
  transform: translate(-50%, -50%);
  z-index: 14;
}

.mountain-1 {
  position: absolute;

  top: 56%;
  left: 9.27%;
  width: 33.15%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.sun-rays {
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0%;
  width: 41.31%;
  pointer-events: none;
}

.black-shadow {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0%;
  pointer-events: none;
  width: 100%;
}

.fog-1 {
  position: absolute;
  z-index: 10;
  top: 59.26%;
  left: 49.69%;
  width: 75.8%;
}
